.block {
    display: flex;
    width: 46%;
    margin: 1%;
    background-color: var(--primary-colour);
    flex-direction: column;
    padding: 1%;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px black;
}

.block h2 {
    margin-bottom: 10px;
    transition: 0.5s;
    color: var(--text-colour);
}

.block h2:hover {
    color: #8B728E;
}

.inner-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-colour);
    height: 100%;
    box-shadow: 0px 0px 10px black inset;
    border-radius: 5px;
    padding: 3px;
    font-size: large;
    color: var(--text-colour);
}

.inner-block img {
    align-self: self-end;
    object-fit: scale-down;
    max-height: 50px;
    margin-top: 10px;
}