.main-game {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    flex-direction: column;
    height: calc(95vh - 50px);
    padding-top: calc(5vh + 50px);
    background-attachment: fixed;
    background-size: cover;
}

.game {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.game-image {
    background-image: url(/portfolio2/img/assets/dev/missing_textures.png);
    font-size: xx-large;
    width: 25%;
    border-radius: 15px;
    object-fit: scale-down;
}

.game-talking {
    margin-top: 10px;
    display: flex;
    align-self: center;
    height: 5%;
    width: 40%;
    object-fit: scale-down;
    z-index: 2;
    margin-bottom: -1px;
}

.game-talking .item {
    background-image: url(/portfolio2/img/assets/dev/missing_textures.png);
    scale: 1.5;
    margin-left: 30px;
    border: .3px solid black;
    border-radius: 5px;
    transition: 0.2s;
    min-height: 10px;
    min-width: 10px;
}

.game-talking .item:hover{
    scale: 3;
    margin-left: 35px;
}

.game-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    min-height: 196px;
    width: 65vw;
    background-color: wheat;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 1;
}

.game-center a {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    color: var(--secondary-colour);
    transition: 0.2s;
}

.game-button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background-color: wheat;
    border: none;
    box-shadow: none;
    padding: 0px;
}

.game-button button {
    font-size: x-large;
    transition: 0.2s;
}

.game-button button:hover {
    scale: 1.2;
}

.game-center a:hover {
    scale: 1.2;
}

.game-nonav {
    grid-column: 3 / 4;
}

/* CSS for dev-page */

.dev {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column: 1 / 4;
    background-color: var(--primary-colour);
}

.dev img {
    width: 100%;
    object-fit: scale-down;
}

.dev .image {
    width: 400px;
    border-style: solid;
    border-color: black;
    background-color: beige;
    margin: 20px;
    transition: .2s;
}

.dev .image:hover{
    width: 450px;
}