header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: var(--primary-colour);
    z-index: 100;
    box-shadow: 0px 1px 3px black;
    position: fixed;
}

header img {
    object-fit: scale-down;
    height: 40px;
    padding-left: 1vh;
}

header ul {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    width: 100%;
    justify-content: space-around;
}

header li {
    list-style-type: none;
}

header li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
    border: 0px solid var(--secondary-colour);
}

header li a:hover {
    background-color: var(--secondary-colour);
    border: 10px solid var(--secondary-colour);
}