main {
    padding-top: calc(5vh + 50px);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-image: 
        url(../img/assets/GR-Portrait/k_souko.png),
        url(../img/assets/dev/k_souko_small.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: darkslategray;
    box-shadow: 0px 1px 10px black;
    min-height: 95vh;
    z-index: 1;
}

main .content {
    display: flex;
    grid-column: 2 / 3;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
}

main form {
    justify-self: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 50%;
    grid-column: 2 / 3;
    padding: 10px;
    background-color: var(--secondary-colour);
    border-radius: 15px;
    box-shadow: 0px 1px 5px black;
    height: min-content;
    color: var(--text-colour);
}

main form img {
    object-fit: scale-down;
    width: 100%;
    height: min-content;
}

main form input {
    width: 98%;
}

main form input[type="checkbox"]{
    width: auto;
}

main form textarea {
    width: 98%;
    height: 5rem;
    resize: none;
    color: black;
}

main form p {
    margin-top: 10px;
}

main form a, main form a:visited {
    color: var(--text-colour);
    text-decoration: underline;
}

main .radio {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

main table, th, td {
    border: 1px solid black;
    background-color: var(--secondary-colour);
    margin-bottom: 50px;
    height: min-content;
    color: var(--text-colour);
}

main table {
    width: 100%;
}

#single {
    display: flex;
    row-gap: 50px;
    justify-self: center;
    flex-direction: column;
    background-color: var(--account-primary);
    width: 80%;
    grid-column: 2 / 3;
}

#single .list {
    display: flex;
    background-color: var(--account-secondary);
    min-height: 50%;
}

#single .banner {
    display: flex;
    height: 220px;
    gap: 30px;
}

#single .banner .bio{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 20px;
    margin-top: 10px;
    color: var(--account-text);
}

#single .banner .about {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;
    width: 25%;
    gap: 20px;
}

#single .banner .about .level {
    width: 100%;
    color: var(--account-text);
    background-color: var(--account-secondary);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#single .banner img{
    height: 180px;
    width: 180px;
    margin-left: 20px;
    margin-top: 10px;
    object-fit: fill;
    box-shadow: 0px 0px 10px 5px var(--account-secondary);
}

#single .banner .about button {
    width: 100%;
}

.console {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:white; 
    background-color:black; 
    width:99%;   
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    grid-column: 2 / 3;
    background-color: var(--primary-colour);
    justify-self: center;
}

#list .user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60px;
}

#list img {
    height: 50px;
    width: 50px;
    object-fit: fill;
}

#list a {
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    grid-template-rows: 1fr;
    width: 98%;
    gap: 10px;
}