main {
    padding-top: calc(5vh + 50px);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-image: url(/portfolio2/img/assets/GR-Portrait/k_souko.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: darkslategray;
    box-shadow: 0px 1px 10px black;
    min-height: 95vh;
    z-index: 1;
}

main .content {
    display: flex;
    grid-column: 2 / 3;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
}

main form {
    justify-self: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 50%;
    grid-column: 2 / 3;
    padding: 10px;
    background-color: var(--secondary-colour);
    border-radius: 15px;
    box-shadow: 0px 1px 5px black;
    height: min-content;
    color: var(--text-colour);
}

main form img {
    object-fit: scale-down;
    width: 100%;
    height: min-content;
}

main form input {
    width: 98%;
}

main form input[type="checkbox"]{
    width: auto;
}

main form textarea {
    width: 98%;
    height: 5rem;
    resize: none;
    color: black;
}

main form p {
    margin-top: 10px;
}

main form a, main form a:visited {
    color: var(--text-colour);
    text-decoration: underline;
}

main .radio {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

main .succes {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    grid-column: 2 / 3;
    padding: 10px;
    background-color: var(--primary-colour);
    border-radius: 5px;
    height: min-content;
    color: var(--text-colour);
}

main table, th, td {
    border: 1px solid black;
    background-color: var(--secondary-colour);
    margin-bottom: 50px;
    height: min-content;
    color: var(--text-colour);
}

main table {
    width: 100%;
}

.account {
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: var(--account-background);
    width: 80%;
    grid-column: 2 / 3;
}

.account .banner img{
    height: 200px;
    width: 200px;
    object-fit: fill;
    border: 1px solid var(--account-pfp);
}