@import "header.css";   /* Importing css for the header*/
@import "footer.css";   /* Importing css for the footer*/
@import "main.css";     /* Importing css for the main page*/
@import "block.css";    /* Importing css for the block-renderer*/
@import "game.css";     /* Importing css for games*/

* {
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    --primary-colour: #270722;
    --secondary-colour: #4f1938;
    --text-colour: #E2E8CE;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}


.warning {
    background-color: white;
    color: red;
    grid-column: 2 / 3;
    width: fit-content;
    height: fit-content;
    justify-self: center;
}

.xdebug-var-dump {
    margin-top: calc(5vh + 50px);
    grid-column: 2 / 3;
    color: black;
    background-color: orange;
    z-index: 1000;
}

.settings {
    grid-column: 1 / 2; 
    width: 100%; 
    margin-bottom: 10px;
}